.movie-card {

  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.movie-title {
  font-size: 1.2rem;
  margin: 10px 0;
}

.movie-release-date {
  color: #888;

}

.image {
  width: 100%;
  height: auto;
}

.styled-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px; 
  border: none; 
  border-radius: 15px;
  font-size: 16px; 
  cursor: pointer; 
}


.styled-button:hover {
  background-color: #57b300; 
}
.movies{
  display: flex;
}
.addTofav{
  width: 20px;
margin-right: 2rem;
height: 20px;

}
.addTofav:hover{
  cursor: pointer;
  background-color: red;
}
.addtofavorites{
  display: flex;
  justify-content: space-between;
}